{% extends "board_base/base.html" %}

{% load static %}

{% block header %}
<header class="site-header navbar">
  <div class="content max-width">
    {% comment %} <a href="{% url 'index' %} ">
      <img class="logo" src="{% static 'board/assets/board-logo.svg' %}" alt="board Logo">
    </a> {% endcomment %}
    <li><a href="{% url 'index' %}">MBCHATTING</a></li>
    <nav>
      <ul class="navbar">
        <li>채팅하기 </li>
        <li>게시판 목록</li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' user.id %}">내 프로필</a></li>
          <li><a href="{% url 'account_logout' %} ">로그아웃</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">로그인</a></li>
          <li><a href="{% url 'account_signup' %}">회원가입</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
{% endblock header %}

{% block footer %}
<footer class="site-footer">
  <div class="max-content-width content">
    <div></div>
    <div>MBTI</div>
  </div>
</footer>
{% endblock footer %}
