{% extends "board_base/base.html" %}

{% load static %}

{% block header %}
<header class="site-header navbar">
  <div class="content max-width">
    {% comment %} <a href="{% url 'board:index' %} ">
      <img class="logo" src="{% static 'board/assets/board-logo.svg' %}" alt="board Logo">
    </a> {% endcomment %}
    <a href="{% url 'board:index' %}"><img class="logo" src="{% static 'board/assets/logo.jpg' %}" alt="board Logo" style="
      padding-left: 50px; width: 250px;"></a>
  </div>
</header>
{% endblock header %}